.p-history {
	border: 2px solid #fff;
	padding: 16px 24px;
	width: 70%;
	position: relative;
	@include mq() {
		width: 85%;
		padding: 16px 8px;
	}
	&__btn {
		padding: 0;
		background-color: #000;
		color: #fff;
		position: absolute;
		top: 20px;
		left: 50%;
		&:hover {
			cursor: pointer;
		}
		&:focus {
			outline: 0;
		}
	}
}
